
/* -------------------------------------------- */
/* Body */
/* -------------------------------------------- */
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #efeff9;
    background: url('background/curtains_dark.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #a6a6a6;
}

/* -------------------------------------------- */
/* Brand */
/* -------------------------------------------- */
.brand {
    display: inherit;
    margin: 0;
    padding: 15px 0 25px;
    text-align: center;
    text-shadow: 5px 5px 15px rgba(0,0,0,0.8);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-weight: 700;
    line-height: normal;
    color: white;
}

/* -------------------------------------------- */
/* Nav bar */
/* -------------------------------------------- */
.navbar {
    border: none;
    border-radius: 0;
    background: white;
    opacity: 0.7;
}
.navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
}

/* Navigation links */
.navbar-nav>li>a {
    padding: 25px;
}
.navbar-nav>li>a,
.navbar-nav>li>a:link,
.navbar-nav>li>a:visited{
    line-height: normal;
    color: #a00000;    
}

/* Search form*/
.navbar-nav>li>form {
    padding-top: 12px;
    padding-right: 0px;
}

/* -------------------------------------------- */
/* Image that highlight when hovering over */
/* -------------------------------------------- */
IMG.HoverBorder {
    outline: 1px solid #282828;
    outline-offset: 1px;
}

IMG.HoverBorder:hover {
    outline: 1px solid #565656;
    outline-offset: 1px;
    opacity: 0.97;
}

/* -------------------------------------------- */
/* Horizontal line under the airdate in upcoming page */
/* -------------------------------------------- */
.airdate-hr {
    margin-top: 0em;
    margin-bottom: 0.5em;
    height: 1px;
    border: 0;
    border-top: 1px solid #404040;
    opacity: 0.5;
}

/* -------------------------------------------- */
/* Thumbnail grid for Library */
/* -------------------------------------------- */
.thumbnail {
    background: none;
    border: none;
    margin-left: -0.7em;
    margin-right: -0.7em;
    margin-bottom: 1em;
    margin-top: 0em;
}
.caption {
    text-align: center;
}

/* -------------------------------------------- */
/* Tabs */
/* -------------------------------------------- */
.tab-pane {
    background: rgba(0, 0, 0, 0.6);
    padding: 0.7em;
    font-size: 1.15em;
    line-height: 1.5em;
}
.nav-tabs {
    margin-top: -0.5em;
    font-size: 1.2em;
}