<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Magnetic Theater{% endblock title %}</title>
        
        {% load static %}

        <!-- Bootstrap Core CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Bootstrap JavaScript -->
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

        <!-- Load the CSS style sheet -->
        <link rel="stylesheet" type="text/css" href="{% static 'Series/style.css' %}" />

    </head>
    <body>
        <div class="brand">
            Magnetic Theater
        </div>

        <!-- Navigation -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                
                <div class="collapse navbar-collapse">
                    <!-- Navigation links -->
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="{% url 'Series:library' %}">Library</a>
                        </li>
                        <li>
                            <a href="{% url 'Series:upcoming' %}">Upcoming</a>
                        </li>
                    </ul>

                    <!-- Search form -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="navbar-search navbar-form" action="{% url 'Series:search' %}" method="GET" role="search">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="TV show search" name="search_input">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        {% block content %}

        {% endblock content %}
    </body>
</html>




