{% extends 'Series/base.html' %}

{% block content %}

    <h1>Welcome to the TV show search engine</h1>

    <!-- Search form -->
    <p> </p>
    <form action="" method="POST">
        {% csrf_token %}
        TV Show title: {{ form.name }}
        <input type="submit" value="Search" name="_search">
    </form>
    <p> </p>

    {% if error_message %}
        <!-- Error catch -->
        <p><strong>{{ error_message }}</strong></p>

        <!-- Return to library -->
        <form action="{% url 'Series:library' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Back to library">
        </form>

    {% else %}
        <!-- Empty the library -->
        <form action="{% url 'Series:empty_library' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Empty library">
        </form>
    
        <p> </p>
        <p> </p>
    
        <!-- Library list -->
        {% if tvshows %}
            <h3>Your TV shows library</h3>
            <ul>
            {% for tvshow in tvshows %}
                <li>
                    <a href="{% url 'Series:tvshow_page' tvshow.pk %}">
                        <img class="HoverBorder" src={{ tvshow.poster_url }} alt="{{ tvshow.title }}">
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <h3>Your library is empty</h3>
        {% endif %}

    {% endif %}

{% endblock content %}
