<!DOCTYPE html>
<html>
<head>
    <title>TV Show search page</title>
</head>
<body>
    {% load static %}

    <!-- Load the CSS style sheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'Series/style.css' %}" />

    <!-- Search form -->
    <h1>Welcome to the TV show search engine</h1>
    <div id="content">
        <p> </p>
        <form action="" method="POST">
            {% csrf_token %}
            TV Show title: {{ form.name }}
            <input type="submit" value="Search" name="_search">
        </form>
        <p> </p>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit", value="Empty library", name='_clean'>
        </form>
    </div>

    <p> </p>
    <p> </p>

    <!-- Library list -->
    {% if tvshows %}
        <h3>Your TV shows library</h3>
        <div id="content">
            <ul>
            {% for tvshow in tvshows %}
                <li>
                    <a href="/Series/tvshow_{{ tvshow.pk }}/">
                        <img class="HoverBorder" src={{ tvshow.imdb_img_url }} alt="{{ tvshow.display_title }}">
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        <h3>Your library is empty</h3>
    {% endif %}

</body>
</html>
