{% extends 'Series/base.html' %}

{% block content %}

    {% load static %}
    {% load Series_extras %}

    <div class="container-fluid">
        <!-- TV show details -->
        <h1>{{ tvshow.title }}</h1>
        <br>

        <div class="row">
            
            <!-- Thumbnail -->
            <div class="col-xs-5 col-sm-3 col-md-3 col-lg-2">
                <img src="{{ tvshow.poster_url }}" alt="{{ tvshow.title }}"/>
                <p> </p>
            </div>

            <!-- Seasons -->
            {% if tvshow.seasons.all %}
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                
                    <!-- TV Seasons tabs -->
                    <ul class="nav nav-tabs">
                        {% for season in tvshow.seasons.all %}
                            <li id="season |addstr:{{ season.number }}">
                                <a data-toggle="tab" href="#{{ season.number }}">{{ season.number }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    
                    <!-- TV Seasons tabs content -->
                    <div class="tab-content">
                        {% for season in tvshow.seasons.all %}
                        <div id="{{ season.number }}" class="tab-pane">
                            {% if season.episodes.all %}
                                <p>
                                    {% for episode in season.episodes.all %}
                                        <!-- seen icon -->
                                        {% if episode.seen %}
                                            <a href="{% url 'Series:seen' episode.pk %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        {% else %}
                                            <a href="{% url 'Series:seen' episode.pk %}"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a>
                                        {% endif %}
                                        &nbsp 
                                        <!-- episode number and name -->
                                        <a href="{% url 'Series:magnet' episode.pk %}">
                                            episode {{ episode.number }} - {{ episode.name }} 
                                        </a>
                                        <!-- airdate -->
                                        {% if episode.airdate %}
                                            <span class="airdate-right">
                                                {{ episode.airdate }}
                                            </span>
                                        {% endif %}
                                        <br>
                                    {% endfor %}
                                </p>
                            {% else %}
                                <p> No episodes found</p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>


                    <!-- Set the active season -->
                    <script>
                        document.getElementById("season |addstr:{{ tvshow.active_season }}").className = "active";
                        document.getElementById("{{ tvshow.active_season }}").className = "tab-pane active";
                    </script>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}
