<!DOCTYPE html>
<html>
<head>
    <title>TV Show page</title>
</head>
<body>
    {% load static %}
    {% load Series_extras %}

    <!-- Load the CSS style sheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'Series/style.css' %}" />

    <!-- Load the javascript for tabs -->
    <script type="text/javascript" src="{% static 'Series/tab.js' %}"></script>

    <!-- TV show details -->
    <h1>{{ tvshow.display_title }}</h1>

    <p> </p>
    here are the tv show details
    <p> </p>
    <img src="{{ tvshow.imdb_img_url }}" alt="{{ tvshow.display_title }}">
    <p> </p>

    <!-- Return to library -->
    <form action="{% url 'Series:library' %}" method="POST">
        {% csrf_token %}
        <input type="submit", value="Back to library">
    </form>

<!-- TV Seasons tabs -->
<div class="tab">
    {% for season in tvshows.seasons.all %}

        <button class="tablinks" onclick={{ 'openTab(event, "'|addstr:season.number|addstr:'")' }} id="{{ 'season '|addstr:season.number }}|addstr: 'tab'">{{ season.number }}</button>

    {% endfor %}
    <button class="tablinks" onclick="openTab(event, 'London')" id="london button">London</button>
    <button class="tablinks" onclick="openTab(event, 'Paris')" id="paris button">Paris</button>
    <button class="tablinks" onclick="openTab(event, 'Tokyo')" id="tokyo button">Tokyo</button>
</div>

<!-- TV Seasons tabs content -->
<div id="London" class="tabcontent">

    <h3>London</h3>
    <p>{{ series_function }}</p>
    <img src="/kakakak/"
        alt="{{ tvshow.display_title|addstr:' banana'|addstr:' juice' }}"
    />
</div>

<div id="Paris" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
</div>

<script type="text/javascript">
    $("paris button").trigger("click");
</script>

</body>
</html>
