<!DOCTYPE html>
<html>
<head>
    <title>TV Show page</title>
</head>
<body>
    {% load static %}
    {% load Series_extras %}

    <!-- Load the CSS style sheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'Series/style.css' %}" />

    <!-- Load the javascript for tabs -->
    <script type="text/javascript" src="{% static 'Series/tab.js' %}"></script>

    <!-- TV show details -->
    <h1>{{ tvshow.title }}</h1>

    <p> </p>
    here are the tv show details
    <p> </p>
    <img src="{{ tvshow.poster_url }}" alt="{{ tvshow.title }}">
    <p> </p>

    <!-- Return to library -->
    <form action="{% url 'Series:library' %}" method="POST">
        {% csrf_token %}
        <input type="submit", value="Back to library">
    </form>

{% if tvshow.seasons.all %}
    <h3>Seasons {{ season.number }}</h3>

    <!-- TV Seasons tabs -->
    <div class="tab">
        <!-- loop on seasons -->
        {% for season in tvshow.seasons.all %}
            <button class="tablinks" onclick="{{ 'openTab(event, '|addstr:season.number|addstr:')' }}">
                {{ season.number }}
            </button>
        {% endfor %}
    </div>
    
    <!-- TV Seasons tabs content -->
    {% for season in tvshow.seasons.all %}
        <div id="{{ season.number }}" class="tabcontent">
            {% if season.episodes.all %}
                <p>
                    {% for episode in season.episodes.all %}
                        episode {{ episode.number }} - {{ episode.name }}
                        <br>
                    {% endfor %}
                </p>
            {% else %}
                <p> No episodes found</p>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}

</body>
</html>
