<!DOCTYPE html>
<html>
<head>
    <title>TV Show search page</title>
</head>
<body>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'latest_magnet/style.css' %}" />

    <h1>Welcome to the TV show search engine</h1>
    <div id="content">
        <p> </p>
        <form action="" method="POST">
            {% csrf_token %}
            TV Show title: {{ form.name }}
            <input type="submit" value="Search" name="_search">
        </form>
        <p> </p>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit", value="Empty library", name='_clean'>
        </form>
    </div>

    <p> </p>
    <p> </p>

    {% if is_library_empty %}
        <div id="header">Your TV shows library</div>
        <div id="content">
            <ul>
            {% for tvshow in tvshows %}
                <li>
                    <a href="/latest_magnet/tvshow_{{ tvshow.url }}_page/">
                        <img class="HoverBorder" src={{ tvshow.imdb_img_url }} alt={{ tvshow.display_title }}}>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        <div id="header">Your library is empty</div>
    {% endif %}

</body>
</html>
