<!DOCTYPE html>
<html>
<head>
    <title>TV Show search page</title>
</head>
<body>
    <div id="header">Welcome to the TV show latest magnet search engine</div>
    <div id="content">
        <p> </p>
        <form action="" method="POST">
            {% csrf_token %}
            TV Show title: {{ form.name }}
            <input type="submit" value="Search" name="_search">
        </form>
        <p> </p>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit", value="Clean database", name='_clean'>
        </form>
    </div>
</body>
</html>
