<!DOCTYPE html>
<html>
<head>
    <title>TV Show page</title>
</head>
<body>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'latest_magnet/style.css' %}" />
    <script type="text/javascript" src="{% static 'latest_magnet/tab.js' %}"></script>

    <h1>{{ tvshow.display_title }}</h1>
    <div id="content">
        <p> </p>
        here are the tv show details
        <p> </p>
        <img src={{ tvshow.imdb_img_url }} alt={{ tvshow.display_title }}>
        <p> </p>

        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit", value="Back to library", name='_to_library'>
        </form>

    </div>
</body>
</html>
